* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Poppins';
  background-color: #100D21;
  background-image: url('https://img.freepik.com/fotos-premium/flores-cerezo-flor-creado-ia-generativa_68747-425.jpg'); /* Cambia esto por la ruta de tu imagen */
  background-size: cover; /* Ajusta el fondo al tamaño de la ventana */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que se repita la imagen */
  background-blend-mode: overlay; /* Mezcla la imagen con el color de fondo */
  height: 100vh; /* Asegura que el fondo ocupe el 100% del alto de la ventana */
  margin: 0;
}

div{
  margin-left: 0%;
}

h4{
  margin-top: 2%;
}

#bg{
  color: #ffffff;
  background-color: #340631;
  margin-left: 4%;
  margin-right: 6%;
}

#button1{
  color: #ffffff;
  background-color: #281f51;
}

#button2{
  color: #ffffff;
  background-color: #a6179d;
}

#button1:hover {
  background-color: #1b1536;
}

#button2:hover {
  background-color: #720f6c;
}

#submitButton{
  color: #ffffff;
  background-color: #281f51;
}

#submitButton:hover{
  color: #ffffff;
  background-color: #1b1536;
}

#album{
  margin-top: 1%;
  width: 80px;
  height: 80px;
  border-radius: 15%;
  object-fit: cover;
}

#buscar{
  margin-top: 10%;
}
#buscar-input{
  color: #aaa; /* Adjust the color as needed */
}

#bg_color_1 {
    background-color:#246e67;
    opacity: 0.5;
}

#search{
    position: relative;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchbar {
    position: absolute;
    overflow: hidden;
    background-color: #191a1f;
    backdrop-filter: blur(2px);
  }
  input[type=search] {
    padding: 9px;
    border: none;
    margin: 8px;
    font-size: 18px;
    background-color: #2e3038;
    text-align: left;
    text-indent: 8px;
    outline: none;
  }
  .searchbar , input[type=search] {
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2); 
  }

  #comentario{
    height: 50px;
    width: 960px;
  }
  
  #inputText {
    margin-left: 20px;
    height: 50px;
    background: #340631; 
    border: none; 
    width: 90%; 
    text-indent: 15px; 
    color: #fff;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
  }
  
  /* By Özlem Altınışık */

.navbar {
  overflow: hidden;
  background: rgb(33,35,41);
  background: linear-gradient(180deg, rgba(33,35,41,1) 57%, rgba(31,33,38,1) 100%);
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
}
#head {
  margin-left: 40px;
}
#main {
  padding: 16px;
  margin-top: 80px;
  height: 1500px; /* Used in this example to enable scrolling */
}
#main_vid {
  margin-left: 60px;
  margin-right: 45px;
  margin-top: 30px;
}
#boton2{
  margin-left: 20px;
}
#thumbnail{
  object-fit: cover;
}

#root{

}

.input-right {
  text-indent: 20px; /* Ajusta el valor según cuánto quieras mover el placeholder */
}

.text-ellipsis {
  white-space: nowrap;         /* Prevents the text from wrapping */
  overflow: hidden;            /* Hides the overflow text */
  text-overflow: ellipsis;     /* Adds the ellipsis at the end */
  display: block;              /* Ensures it works on block elements like <p> */
  max-width: 100%;             /* Set max width to restrict the content */
}